<!-- footer를 화면 맨 아래 하려면 boilerplate에서 body flex 및 높이 지정해준 후에 footer에서 mt-auto 해주기 -->
<!-- justify-content, fustify-self로 안하는 이유 >> 그렇게 하면 footer 뿐만 아니라 모든 아이템들이 다 아래로 내려갈 것 -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-white-50">&copy;YelpCamp 2020</span>
  </div>
</footer>
